body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.sign-up-form {
    width:600px;
    height:600px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background:#fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}

.sign-up-form h1 {
    color: #1c8adb;
    margin-bottom: 30px;

}

.input-box {
    border-radius: 20px;
    padding:10px;
    margin:10px 0;
    width: 100%;
    border: 1px solid #999;
    outline:none;
}

button {
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.signup-btn {
    background-color: #1c8adb;
}

.sign-up-form label {
    text-align: left;
}